<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /topinv/api/
    
    # Handle requests for real files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Route all requests to index.php
    RewriteRule ^ index.php [L]
</IfModule>
